html {
  /* these two options fix issues with scroll restoration on mobile */
  scroll-behavior: auto !important;
  overflow-anchor: none !important;
}

body {
	width: 85%;
	margin: 0 auto;
	background-color: black;
	color: whitesmoke;
}

#header {
	background-image: url("/dishes_header_pic.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-shadow: 1.5px 1.5px 3px darkcyan;

	text-align: center;
	width: 99%;
	padding: 10px;
	color: darkcyan;
	border-style: solid;
	border-radius: 30%;
	margin-bottom: 20px;
}


#header h1 {
	font-size: 45px;
	color: lightyellow;
}

#header h3 {
	font-size: 26px;
	color: lightyellow;
}

.navbar {
	background-color: darkcyan;
	display: inline-flex;
	align-items: center;
	padding: 2px 10px;
	width: 100%;
	border-radius: 30%;
}


.navbar ul {
	list-style-type: none;
	padding: 10px;
	margin-right: 20px;
	display: inline-flex;
	gap: 25px;
}

.navbar li a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

/* homepage start */
#latest_recipes {
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	color: whitesmoke;
	padding-top: 10px;
	cursor: default;
}

#recipes_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	color: whitesmoke;
	text-align: left;
	width: 90%;
	margin: 20px;
}

#recipes_list ul {
	text-decoration: none;
	list-style-type: none;
	border-radius: 5%;
	margin: 12px;
	padding: 15px;
	border: 3px solid darkcyan;
	width: 90%;
	height: 90%;
}

#recipes_list li {
	font-size: 1.05em;
	padding: 5px;
	margin: 5px;
}

/* homepage end */

/* recipes page */
.search_recipes_bar {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

.search_recipes_bar label {
	color: whitesmoke;
	font-size: 1.5rem;
	margin-right: 10px;
}

.search_recipes_bar input {
	width: 250px;
	height: 33px;
	border-radius: 10%;
}

.search_recipes_bar input:focus {
	outline: darkcyan;
	border-color: darkcyan;
	border-width: 5px;
}

.search_recipes_bar button {
	width: 100px;
	height: 37px;
	margin-left: 5px;
	color: black;
}

.call_to_action {
	width: 200px;
	height: 50px;
	background-color: darkturquoise;
	color: whitesmoke;
	border: darkcyan;
	position: absolute;
	left: 45%;
	border-radius: 30%;
}

.recipes_render {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	justify-items: center;
	color: whitesmoke;
	text-align: left;
	width: 90%;
	margin: 25px;
}

.recipes_render ul {
	text-decoration: none;
	list-style-type: none;
	border-radius: 5%;
	margin: 12px;
	padding: 15px;
	border: 3px solid darkcyan;
	width: 90%;
	height: 90%;
}

.recipes_render li {
	font-size: 1.05em;
	padding: 5px;
	margin: 5px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pagination-controls button {
  padding: 5px 10px;
  margin: 0 5px;
}

/* recipe component */
.recipe {
	list-style-type: none;
}

.recipe a {
	text-decoration: none;
	color: whitesmoke;
	cursor: default;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 150px;
	border-radius: 10%;
}

/* recipe component end */
/* recipes page end */

/* recipe form */
.recipe_form h2 {
	text-align: center;
	padding-bottom: 20px;
}

.recipe_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	padding: 20px;
}

.image_upload {
	display: inline-block;
	padding: 10px 20px;
	background-color: darkcyan;
	color: white;
	border-radius: 8px;
	font-weight: bold;
	text-align: center;
	transition: background-color 0.3s;
}

/* removes the  ugly 'no file selected' */
.image_upload input[type="file"] {
	display: none;
}

.recipe_form input {
	width: 200px;
	height: 25px;
}

.recipe_form textarea {
	width: 300px;
	height: 150px;
	resize: none;
}

.recipe_form button {
	margin-left: calc(18%);
	width: 200px;
	height: 50px;
}

/* recipe form end */

/* recipe full version page */
.recipe_full_version {
	position: relative;
	color: whitesmoke;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.recipe_full_version ul {
	border: 3px solid darkcyan;
	border-radius: 5%;
	padding: 20px;
}

.recipe_full_version li {
	list-style-type: none;
}

.recipe_full_version li img {
	width: 300px;
	height: 220px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
}

#favourites_icon {
	display: inline-block;
	background-color: darkcyan;
	font-size: 40px;
	border: 2px solid darkcyan;
	border-radius: 50%;
	padding: 5px;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	margin-right: 20px;
}

.username {
	text-decoration: underline;
	cursor: pointer;
}

.username a {
	color: whitesmoke;
}

.time_stamp {
	font-size: 12px;
	text-align: right;
}

.action_buttons {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 10px;
}

.action_buttons button {
	width: 150px;
	height: 30px;
}

#comment_form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	/* margin-bottom: 10px; */
}

#comment_form textarea {
	width: 450px;
	height: 70px;
	margin-right: 10px;
	resize: none;
}

#comment_form button {
	width: 100px;
	height: 40px;
}

.comment {
	margin-bottom: 10px;
}

/* recipe full version page end */

/*user page */
.user_info li {
	list-style-type: none;
}

/* login page */
.login {
	align-content: center;
	text-align: center;

	display: block;
	border: 3px solid;
	border-color: darkcyan;
	width: 30%;
	padding: 1.2em;
	margin: 3em auto;
}

.login input {
	font-size: 16px;
	width: 70%;
	border-radius: 10%;
}

.login input:focus {
	outline: darkcyan;
	border-color: darkcyan;
	border-width: 3px;
}


.login button {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;

}

/* login page end */

/* register page */
#register_link {
	color: whitesmoke;
	align-content: center;
	text-decoration: none;
	font-size: 17px;
}

.register {
	align-content: center;
	text-align: center;
	color: whitesmoke;

	display: block;
	border: 3px solid;
	border-color: darkcyan;
	width: 30%;
	padding: 20px;
	margin: 3em auto;
}

.register input {
	font-size: 16px;
	width: 70%;
	border-radius: 10%;
}

.register input:focus {
	outline: darkcyan;
	border-color: darkcyan;
	border-width: 3px;
}

.register button {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
}

/* register page end */

/* account page */
.account_navbar {
	margin: 0 auto;
	width: 45%;
	margin-top: 30px;
}

.account_navbar ul {
	display: inline-flex;
}

.account_navbar li {
	list-style-type: none;
	margin: 5px;
	border: 2px solid darkcyan;
	background-color: darkcyan;
	border-radius: 10%;
	cursor: pointer;
	padding: 10px 20px;
}

.account_navbar li.active {
	background-color: yellowgreen;
}

.password_change {
	text-align: center;
	color: whitesmoke;
	justify-content: center;
	border: 3px solid;
	border-color: darkcyan;
	width: 30%;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: var(--marginLeft, 350px);

}

.password_change input {
	font-size: 16px;
	width: 70%;
	border-radius: 10%;
	margin: 10px;
}

.password_change input:focus {
	outline: darkcyan;
	border-color: darkcyan;
	border-width: 3px;
}

.password_change button {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
}

.delete_account {
	display: flex;
	justify-content: center;
	height: 40px;
	width: 1000px;
	margin-left: 40px;
}

/* account page end */

/*footer */
.footer ul {
	width: 98%;
	background-color: darkcyan;
	padding: 20px;
	display: inline-flex;
	align-items: center;
	list-style-type: none;
	gap: 10px;
	border-radius: 30%;
	border-color: darkcyan;
}

.footer li a {
	font-size: 16px;
	text-decoration: none;
	padding-right: 10px;
	color: whitesmoke;
}

.terms_of_use{
	margin: 0 auto;
	font-size:18px;
	width:60%;
}

.terms_of_use li{
	padding: 5px;
}

.terms_of_use h3{
	text-align: center;
}

@media (max-width: 900px) {
	.recipes_render {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.recipes_render ul {
		width: 80%;
	}
}

@media (max-width: 600px) {
	body {
		width: 90%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	#header{
		margin-left: 10px;
	}

	#header h1{
		font-size: 30px;
	}

	#header h3{
		font-size: 17px;
	}

	.navbar{
		margin-left: 10px;
	}

	#latest_recipes {
		text-align: center;
		margin-left: 45px;
	}

	#recipes_list {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		margin-left: 20px;
		box-sizing: border-box;
	}

	.search_recipes_bar label {
		margin: 0;
		font-size: 15px !important;
		align-self: center;
		margin-right: 4px;
		margin-left: 30px;
	}

	.search_recipes_bar input {
		width: 150px;
		height: 30px;
	}

	.search_recipes_bar button {
		width: 60px;
		height: 30px;
		align-self: center;
	}

	.call_to_action {
		position: relative;
		left: auto;
		margin: 0 auto;
		margin-right: 50px;
		display: block;
		justify-self: left;
		width: 60%;

	}

	.recipes_render {
		display: grid;
		grid-template-columns: 1fr;
		margin: 0 auto;
		padding: 0;
		margin-left: 30px;
		box-sizing: border-box;
	}

	.recipe_full_version {
		display: block;
		position: relative;
		color: whitesmoke;
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		margin-left: 20px;
		box-sizing: border-box;
		padding: 0 10px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 10px);
	}

	.recipe_full_version ul {
		border: 2px solid darkcyan;
	}

	.recipe_full_version li img {
		width: 250px;
		margin-top: 25px;
	}

	#favourites_icon {
		margin-top: 10px;
		margin-left: 20px;
	}

	.login {
		width: 70%;
		margin-left: 50px;
	}

	.register {
		width: 70%;
		margin-left: 50px;
	}

	.password_change {
		display: grid;
		justify-content: center;
		border: 3px solid;
		border-color: darkcyan;
		width: 70%;
		padding: 10px;
		margin: 10px;
		margin-left: 40px;
		margin-top: 20px;
	}

	.delete_account {
		display: grid;
		justify-content: start;
		height: 40px;
		width: 100px;
		margin-top: 40px;
		margin-left: 190px;
		margin-bottom: 10px;
	}

	.account_navbar {
		display: grid;
		justify-content: start;
		width: 60%;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		max-width: 600px;

	}

	.account_navbar ul {
		margin: 0 auto;
	}

	.account_navbar li {
		display: block;
		justify-self: start;
		width: 50px;
		height: 40px;
		padding-left: 10px;
		padding-top: 10px;
		font-size: 14px;
	}

	.user_info > li > .recipes_render {
		display: grid;
		justify-content: center;
		align-items: center;
		grid-template-columns: 1fr;
		margin: 0 auto;
		padding: 0;
		
		box-sizing: border-box;
    }

	#comment_form textarea {
		margin-left: 20px;
		height: 60px;
	}
}